/* css for dashboard*/
.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
}
.dashboard h1 {
  font-size: 3rem;
  color: #000;
}
.dashboard p {
  font-size: 1.5rem;
  color: #000;
}
.dashboard button {
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}
.dashboard .dashboard_image {
  height: 70vh;
  width: 60%;
  img {
    height: 100%;
    width: 100%;
  }
}
.dashboard .dashboard_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
}
.dashboard .dashboard_content h1 {
  font-size: 3rem;
  color: #000;
}
.dashboard .dashboard_content p {
  font-size: 1.5rem;
  color: #000;
}
.dashboard .dashboard_content button {
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}
.dashboard .dashboard_content .dashboard_image {
  height: 70vh;
  width: 60%;
  img {
    height: 100%;
    width: 100%;
  }
}
