.dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.dashboard > header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #f8f9fa;
  padding: 1rem;
  z-index: 1000;
}

/* .content-wrapper {
  display: flex;
  flex: 1;
  margin-top: 60px;
} */

.sidebar {
  position: fixed;
  top: 60px; /* Adjust this value to match your header's height */
  bottom: 0;
  width: 250px;
  background-color: #343a40;
  color: #fff;
  overflow-y: auto;
}

.main-content {
  flex: 1;
  margin-left: 250px; /* Adjust this value to match your sidebar's width */
  padding: 20px;
  overflow-y: auto;
}

/* Adjust for collapsed sidebar */
.sidebar.collapsed {
  width: 60px;
}

.sidebar.collapsed + .main-content {
  margin-left: 60px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .content-wrapper {
    flex-direction: column;
    margin-top: 60px; /* Adjust based on your header height */
  }

  .sidebar {
    position: static;
    width: 100%;
  }

  .main-content {
    margin-left: 0;
  }
}